.cph
.vscode
*.o
*.lib
*.exe
*.out
mysql_data

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.fleet

.data

.netlify

error.log
exceptions.log
coverage
dump.rdb

fastapi-course
__pycache__
.venv
.env
tmp.*

html

public/uploads/avatars

.pytest_cache

*tmp*
html
.DS_Store
.idea

# PHP
_ide_helper.php
.phpstorm.meta.php
