@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
    right: 0;
    border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
    background: #68d391;
}
