-> user 
    # _id (automated)
    # name 
    # email
    # password (_.omit[object, ["password"]])
    # role -> admin, user

    # generate JWT
    # validation with JOI

model("User", schema)


-> profile 
    # user -> 
    {
        type: Schema.Types.ObjectId,
        unique: true,
        require: true,
        ref: "User"
    }
    # phone
    # address1
    # address2
    # city
    # country
    # photo


-> category 
    # name

-> product
    # name
    # descriptionm
    # price
    # catgory 
    {
        ref: 'Category'
    }
    # quantity
    # photo: 
    {
       data: Buffer,
       contentType: String,
    }

-> cartItem
    product: {
        type: Schema.Types.ObjectId,
        ref: 'Product',
        required: true,
    },
    price: Number,
    count: {
    
    }
    user: {
        type: Schema.Types.ObjectId,
        ref: "User",
        required: true,
    }





