---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import {filterPosts} from "../../utils/filters";

const posts = filterPosts(await Astro.glob("./*.md"));
---

<MainLayout title="My Blog">
    <section class="container" aria-label="New Blog Posts">
        <h1 class="h1">New Blog Posts</h1>
        <div class="post-container">
            {posts.map(post =>
                    <PostCard frontmatter={post.frontmatter} url={post.url} tag="h2"/>)}
        </div>
    </section>
</MainLayout>
