{{ define "Base" }}
    <!doctype html>
    <html lang="en">
        <head>
            <title>Todo</title>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="/build/style.css" />
            <script src="/build/script.js" defer type="text/javascript"></script>
        </head>
        <body>
            <div class="max-w-screen-md mx-auto mt-8">
                <div class="flex justify-between items-center">
                    {{ template "TotalCount" dict "TotalCount" .TotalCount }}
                    {{ template "CompletedCount" dict "CompletedCount" .CompletedCount }}
                </div>
                {{ template "Form" }}
                <div id="items" class="space-y-2.5 mt-4">
                    {{ range .Items }}
                        {{ template "Item" }}
                    {{ end }}
                </div>
            </div>
        </body>
    </html>
{{ end }}
