@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 2rem;
    }
    h2 {
        @apply text-xl text-red-500;
    }
}

@layer components {
    .btn-blue {
        @apply bg-blue-500 py-2 px-4 rounded-xl font-bold hover:bg-blue-700 text-white;
    }
}

.content-area {
    @apply bg-green-200;
    height: theme("spacing.128");
}

@media screen(xl) {
    body {
        @apply bg-black text-white;
    }
}
